<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>

  <div class='animal-button'>
  <button><a href="./gallery">Click to discover animals</a></button>
  </div>


  <%- include('partials/footer') %>
</body>