@import url('https://fonts.googleapis.com/css?family=Ovo|Sen&display=swap');



/* Reset and consistency for background color */
body {
  margin: 0;
  padding: 0;

  background-color: #F9F7F4;
}



/* Heading styles */
h1 {
  margin: 0;
  padding: 5vh;

  background-color: #F9E5C7;

  text-align: center;
  text-transform: uppercase;
  font-size: 52px;
  font-family: 'Sen', sans-serif;
  color: #3A606E;
  letter-spacing: 0.8vw;
}

h2 {
  padding-bottom: 0.5em;
  margin: 0;
  font-family: 'Ovo', serif;
  font-size: 32px;
  color: #828E82;
  letter-spacing: 0.2vw;
}



/* Button style */
.animal-button {
  margin: 25vh 0;
  display: flex;
  justify-content: center;
}

.gallery-button {
  margin: 0;
  display: flex;
  justify-content: center;
}

button {
  margin: 3em;

  background-color: #3A606E;
}
button a{
 display: flex;
 justify-content: center;

 padding: 3vh 5vw;

 text-decoration: none;

 font-size: 30px;
 font-family: 'Ovo', serif;
 color: #F9F7F4;
}



/* Gallery page style */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

figure {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  text-align: center;
}

.card{
  margin: 2em;
}

img {
  padding: 2em;

  border: 1px solid #B4B5B4;

  object-fit: cover;
  width: 250px;
  height: 250px;
}



/* Individual animal page style */
.single-animal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

/* Override img styles that are in the gallery */
.large-photo img {
  width: auto;
  height: auto;

  border: none;
}
.description {
  padding: 2em;
  border: 1px solid #B4B5B4;
}

figcaption {
  margin-bottom: 8vh;
  font-family: 'Sen', sans-serif;
  color: #3A606E;
  text-transform: uppercase;
}

.lorem-picsum {
  font-family: 'Ovo', serif;
  color: #828E82;
}



/* Footer style */
footer {
  margin: 0;
  padding: 2vh;

  background-color: #F9E5C7;

  color: #3A606E;
  font-family: 'Ovo', serif;
  font-size: 16px;
}